body{
    background-color: #D6E6F2;
}
h1{
    letter-spacing: 2px;
    font-weight: bold;
}
.box-txt p{
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
}
.btn-opt{
    background-color: #4A90E2;
    box-shadow: 0px 10px 0px #000;
    border: 2px solid #000;
    width: 75vw;
    height: 6vh;
    border-radius: 100px;
}
.txt{
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-style: italic;
}